/* src/components/Header.css */
.header-section {
  background-color: var(--primary-color);
  color: var(--light-text-color);
  padding: 40px 20px;
  text-align: center;
  border-bottom: 5px solid var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.8s ease-out forwards;
}

.header-section .name {
  font-size: 2.8em;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--light-text-color);
    opacity: 0;
    animation: slideInFromLeft var(--animation-duration) ease-out forwards;
}

.header-section .title {
  font-size: 1.4em;
  margin-bottom: 20px;
    opacity: 0;
  animation: slideInFromLeft var(--animation-duration) ease-out forwards;

}

.header-section .contact-info {
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  animation: fadeIn 0.8s ease-out 0.6s forwards;
  opacity: 0;
}

.header-section .contact-info a {
  color: var(--light-text-color);
  transition: color 0.3s ease;
}

.header-section .contact-info a:hover {
  color: var(--secondary-color);
}

.header-section .contact-info span {
  white-space: nowrap;
}